.tlo {
    background-color: brown;
    color: white;
}

.rozmiar {
    font-size: 60px;
}

.kroj {
    font-family: 'Impact', sans-serif;
}

.skresl {
    text-decoration: line-through underline;
}
